@use '../../App.scss' as *;

.home {
  .bio {
    .title {
      color: $white2;
      text-shadow: 0px 0px 5px $white3;
      font-weight: 600;
      font-size: 2.5rem;
    }

    .job {
      color: $yellow2;
      text-shadow: 0px 0px 5px #ffffff33;
    }

    p {
      color: $white3;
      font-weight: 500;
    }
  }
}